@import "../../utils/mixins";

.chart__section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	.ui__select {
		width: 32%;
		height: 24px;
		font-size: 14px;
	}
	@include media-query(1024px, 1239px) {
		width: 100%;
	}
	@include media-query(1240px) {
		width: 700px;
		margin-right: 30px;
	}
}

.chart__wrapper {
	justify-content: space-between;
	display: flex;
	margin-bottom: 10px;
}
