@import "../../utils/mixins";

.markets__section {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	.ui__select {
		width: 100%;
		margin: 5px 0 15px;
		height: 24px;
		font-size: 14px;
	}
	@include media-query(1024px) {
		width: 290px;
	}
}

.markets__price {
	max-width: 88px;
	flex: 1 1 90px;
	padding: 5px;
	text-align: center;
	.header {
		font-weight: bold;
		white-space: nowrap;
	}
	.span {
		display: inline-block;
		margin: 5px 0;
	}
}
