.converter__section {
	display: flex;
	flex-wrap: wrap;
	.ui__select {
		margin-left: 5px;
		flex: 1 1 30%;
		height: 24px;
		font-size: 14px;
	}
	.ui__input {
		flex: 1 1 60%;
		margin-right: auto;
		padding-left: 15px;
		text-align: center;
		font-size: 14px;
	}
}

.converter__wrapper {
	display: flex;
	flex: 1 1 100%;
	border: none;
	padding: 0;
	margin: 0;
	flex-wrap: wrap;
	align-items: center;
}

.converter__label {
	flex: 1 0 100%;
	margin: 5px 0;
	font-size: 14px;
}
