.root {
	width: 100%;
	height: 100vh;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.section {
	width: 310px;
	margin: 10px auto;
}

.section__header {
	width: 100%;
	text-align: center;
	font-size: 18px;
	margin: 20px;
	text-transform: uppercase;
}
